/*CSS RESET*/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*BOOTSTRAP ICONS*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    
}

html {
    scroll-behavior: smooth;
}

body {
    /* overflow: auto; */
    width: 100vw;
    height: auto;
}

main {
    margin: 0 50px; 
    color: rgba(12,110,132,1);
}

section {
    scroll-margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #FFF;
    padding-bottom: 50px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(253, 103, 99, .9);
    height: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 5px 20px rgba(0,0,0,.2);
    transition: all .3s ease;
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 50px;
    border-radius: 50%;
    border: 2px solid #FFF;
    font-size: .8rem;
    font-weight: 900;
    padding: 8px 7px;
    color: #FFF;
    transform: rotate(-12deg);
    /* transition: transform .5s linear; */
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

nav p {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    margin: 0 10px;
    border-bottom: 1px solid #FD6763;
    transition: all .3s ease;
}

nav p:hover,
nav p:active {
    cursor: pointer;
    border-bottom: 2px solid #FFF;
}


/* Heading */
h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: auto;
    font-size: 1.5rem;
    color: #0C6E84;
    border: 1px solid #0C6E84;
    border-left: none;
    border-right: none;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 10px;
    margin-bottom: 50px;

}


/* Table */
.table {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    max-width: 100%;
    min-width: 800px;
    background: #FFF;
}


/* all div get border top and left */
.table > div {
    overflow: hidden;
    border-top: 1px solid rgba(12,110,132,.5);
    border-left: 1px solid rgba(12,110,132,.5);
    padding: .8rem;
    text-align: center;
    color: #0C6E84;
}


/* last column border right*/
.table .last-column {
    border-right: 1px solid rgba(12,110,132,.5);
}


/* last row border bottom */
.table .row_last {
    border-bottom: 1px solid rgba(12,110,132,.5);
}


/* project column is aligned on the left and overflow is handled */
.projets {
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align: left!important;
    font-size: 1rem;
}

/* First and last Row texts => bold, white, centered */
.row_1, .row_last {
    background: rgba(12,110,132,.02);
    color: #0C6E84;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
}


/* Projet# bold */
.table, span {
    font-weight: 500;
} 

/* handling dates overflow */
.start, .end {
    text-overflow: ellipsis;
}


/* background-color en damier */
.row_2, .row_4, .row_6, .row_8, .row_10, .row_12 {
    /* background: rgba(12, 110, 132, 0.1); */
    background: rgba(253, 103, 99, .1);
    font-weight: 400;
}


.row_3, .row_5, .row_7, .row_9, .row_11 {
    /* background: rgba(12, 110, 132, 0.1); */
    background: rgba(F,F,F,1);
    font-weight: 400;
}


/* border radius of the table */
.table .row_1.first {
    border-top-left-radius: 10px;
}

.table .row_1.last {
    border-top-right-radius: 10px;
}

.table .row_last.first {
    border-bottom-left-radius: 10px;
}

.table .row_last.last {
    border-bottom-right-radius: 10px;
}

/* arrow handler */
#back-top {
    color: #FD6763;
    z-index: 2;
    position: sticky;
    /*bottom: 25px;
    left: calc(50% - 30px); 50px = <main> margin-left */
    right: 0px;
    bottom: 25px;
    transform: scale(1);
    transition: all 1s ease;
}

#back-top:hover {
    animation: shaker 1s ease infinite;
    transform: scale(1.5);
    cursor: pointer;
    color: #0C6E84;
}

@keyframes shaker {
    0% {
        transform: scale(1.5) translateY(0);
    }
    20% {
        transform: scale(1.5) translateY(-15px)
    } 
    40% {
        transform: scale(1.5)translateY(15px)
    }
    60% {
        transform: scale(1.5) translateY(-5px)
    }
    80% {
        transform: scale(1.5) translateY(5px)
    }
    100% {
        transform: scale(1.5) translateY(0)
    }
}


/* Wakelet handler */
.embed {
    margin-top: 25px;
    display: block;
}

button {
    position: absolute;
    transform-origin: top right;
    transform:  scale(0) rotate(90deg);
    opacity: 0;
    top: 160px;
    left: 100px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    width: 150px;
    min-width: 150px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    color: #0C6E84;
    font-weight: 400;
    font-size: large;
    border: none;
    border: 1px solid #FFF;
    transition: all .3s ease;
}

.github {
    margin-right: 15px;
    vertical-align: center;
    transform: scale(1.6);
    color: #0C6E84;
    transition: all .3s ease;
}

button:hover{
    cursor: pointer;
    background: #0C6E84;
    color: #FFF;
    border: 1px solid #FFF;
}

button:hover i {
    color: #fff;
}

footer {
    position: sticky;
    width: 100px;
    height: 100px;
    border-top-left-radius: 100px;
    background-color: rgba(253, 103, 99, .8);
    display: flex;
    align-items: center;
    transform-origin: center;
    bottom: 0;
    left: calc(100% - 100px);
    transition: all .3s ease;
}
footer:hover {
    width: 300px;
    height: 300px;
    border-top-left-radius: 300px;
    background-color: #0C6E84;
    cursor: pointer;
}
footer:hover button {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}


/* allowed overflow on mobile */
@media screen and (max-width: 899px) {
    main {
        margin: 0 10px;
    }

    h1 {
        width: auto;
    }

    .table {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: auto;
        min-width: 100%;
        gap: 2px;
    }
    
    .row_1, .row_last {
        display: none;
    }

    .table >div {
        border: none;
        width: 100%;
        min-width: 105px;
    }

    .table .last-column {
        border: none;
    }

    .projets {
        white-space: normal;
        text-overflow: normal;
        /* background-color: #FD6763!important; */
        background-color: rgba(12,110,132,.5)!important;
        color: #FFF;
        font-weight: 500;
        font-size: 1.4rem;
        width: 100%;
        flex-grow: 2;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .table .projets span {
        color: #FFF;
        font-size: 1.4rem;
    }

    .row_2::before, 
    .row_3::before, 
    .row_4::before, 
    .row_5::before, 
    .row_6::before, 
    .row_7::before, 
    .row_8::before, 
    .row_9::before, 
    .row_10::before, 
    .row_11::before, 
    .row_12::before {
        content: attr(data-title);
        display: block;
        text-align: center;
        width: 100%; 
        min-width: 105px;
        flex-grow: 1;
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    .row_2,
    .row_3,
    .row_4,
    .row_5,
    .row_6,
    .row_7,
    .row_8,
    .row_9,
    .row_10,
    .row_11,
    .row_12 {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.4rem;
        background-color: rgba(253, 103, 99, .1)
    }
  }